<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sky Walkies</title>
    <!-- la etiqueta "meta" de abajo nos ayuda a que ande el responsive xd -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/styles/styles.css">
</head>

<body>
    <div id="app">


        <p>Canvas to fill:</p>

        <div class="d-flex flex-column gap-3 ms-5">
            <select name="avatarHeadSelector" id="avatarHeadSelector" v-model="customAvatar.head" style="width: 10rem;">
                <option value="1">Afro Hair</option>
                <option value="2">Long Blond Hair</option>
                <option value="3">Short Blonde Hair</option>
                <option value="4">Pony Tail</option>
                <option value="5">Bald Headphones</option>
                <option value="6">Afro Hair Headphones</option>
                <option value="7">Long Blond Hair Headphones</option>
                <option value="8">Short Blond Hair Headphones</option>
                <option value="9">Pony Tail Headphones</option>
            </select>

            <select name="avatarBodySelector" id="avatarBodySelector" v-model="customAvatar.body" style="width: 10rem;">
                <option value="1">Red Shirt</option>
                <option value="2">Blue Shirt</option>
                <option value="3">Yellow Shirt</option>
                <option value="4">Orange Shirt</option>
                <option value="5">Green Shirt</option>
            </select>

            <select name="avatarBodySelector" id="avatarBodySelector" v-model="customAvatar.bodyColor" style="width: 10rem;">
                <option value="1">Skin Color 1</option>
                <option value="2">Skin Color 2</option>
                <option value="3">Skin Color 3</option>
                <option value="4">Skin Color 4</option>
            </select>

            <select name="avatarFaceSelector" id="avatarFaceSelector" v-model="customAvatar.face" style="width: 10rem;">
                <option value="1">Poker Face</option>
                <option value="2">Funny Face</option>
                <option value="3">Happy Face</option>
                <option value="4">Cute Face</option>
                <option value="5">Mustache Face</option>
            </select>

            <select name="avatarFaceSelector" id="avatarFaceSelector" v-model="customAvatar.shoes" style="width: 10rem;">
                <option value="1">Red & Yellow</option>
                <option value="2">Blue</option>
                <option value="3">Purple</option>
                <option value="4">Golden</option>
                <option value="5">White</option>
            </select>
        </div>

        <canvas id="myCanvas" width="400" height="680" style="border:5px solid #000000;"></canvas>

        <p><button @click="drawCustomAvatar">Try it</button></p>



    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="../assets/js/avatar.js"></script>
</body>

</html>