* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 7vh;
}

main {
    min-height: 80vh;
}

nav {
    height: 100%;
    z-index: 50 !important;
    background-color: white
}

canvas {
    z-index: -5 !important;
}

li {
    list-style: none;
}

/* para la imagen de prueba de logo */

nav>img {
    height: 75%;
}

/* -- */
footer {
    height: 13vh;
    z-index: 3;

}

td>img {
    width: 100%;
}

body {
    overflow-y: hidden;
}

.alturaWardrobe {
    height: 60vh;
}

.prices {
    background-color: #fff;
    height: 20vh;
}

.productInWardrobe>div>img {
    transform: rotate(-25deg);
    width: 80%;
    margin-left: 2rem;

}

.sombra {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}


@media (min-width: 420px) {
    td>img {
        width: 70%;
    }
}

@media (min-width: 500px) {
    td>img {
        width: 60%;
    }
}

@media (min-width: 600px) {
    td>img {
        width: 50%;
    }
}


@media (min-width: 769px) {
    td>img {
        width: 40%;
    }
}

@media(min-width: 992px) {
    footer {
        height: 5vh;
        background-color: red;
    }

    header {
        height: 10vh;
    }

    main {
        height: 85vh;
    }


}