@import url('https://fonts.googleapis.com/css2?family=Tajawal');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal';
}

header {
    height: 7vh;
}

main {
    min-height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .7) .1em, transparent .1em);
    background-size: 3em 3em;
}

nav {
    height: 100%;
}

footer {
    height: 13vh;
}

li {
    list-style: none;
}

/* para la imagen de prueba de logo */

nav>img {
    height: 75%;
}

/* -- */


.widthZapaCarrusel {
    width: 100px !important;
}

.list-group-item {
    border: none !important;
    border-radius: 0 !important;
}



/* PRUEBA "CARRUSEL" DE ZAPAS */

.horizontal-scroll-wrapper {
    width: 100px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.horizontal-scroll-wrapper>div {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: center;
}

#scrollContainer {
    transform: rotate(-90deg);
}

.horizontal-scroll-wrapper-modal {
    width: 100px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.horizontal-scroll-wrapper-modal>div {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: center;
}

#scrollContainerModal {
    transform: rotate(-90deg);
    height: 100px;
}

.modalSpawner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

video {
    width: 80%;
    align-self: center;
    justify-self: center;
    z-index: 2;
}

.card {
    border-radius: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

label{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: .2rem;
}

#keepItButton{
    border: 2px solid black !important;
    background-color: white;
    height: 4.5rem;
    width: 9rem;
    font-size: xx-large;
    font-weight: 400;
    padding: .5rem;
    transition: 300ms;
    border-radius: 5px;
}

#keepItButton:hover{
    background-color: black;
    color: white;
    transform: scale(1.2);
    text-decoration: underline;
}

.selectorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: .5rem;
    /* SETEAR UN WIDTH PARA TODOS Y DARLE SCROLL HORIZONTAL PARA VER LAS OPCIONES*/
}

.avatarPartSelector{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.avatarPartSelector>input{
    display: none;
}

.avatarPartSelector:hover{
    transform: scale(1.05);
}

label{
    background-color: white;
}






/* EMPIEZAN LAS MEDIA QUERIES */

@media (min-width: 426px) {
    .horizontal-scroll-wrapper-modal {
        width: 100px;
        height: 700px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (min-width: 1024px) {
    .horizontal-scroll-wrapper-modal {
        width: 100px;
        height: 1000px;
        overflow-y: auto;
        overflow-x: hidden;
    }


    footer {
        height: 3vh;
    }

    header {
        height: 10vh;
    }

    main {
        height: 87vh;
        width: 100%;
        background: none !important;
    }

    .iconosLg {
        height: 100%;
        width: 4rem !important;
    }
}

@media (min-width: 1400px) {
    .horizontal-scroll-wrapper-modal {
        width: 100px;
        height: 1400px;
        /* max-height: 320px; */
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/* QUERIES PARA SLIDER */
@media (min-width: 1000px) {
    .slider {
        display: none;
    }
}