/* COMIENZA SLIDER */
.slider {
  display: flex;
  width: 100%;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  /* animation: moving-sky 10s ease-out infinite; */
  cursor: grab;
}

/* ANIMACION FONDO MOVIENDOSE */
/* @keyframes moving-sky {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }

  ;
} */

/* BLOQUES DEL SLIDER */
.bloques {
  min-width: 120%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .7) .1em, transparent .1em);
  background-size: 3em 3em;
  display: flex;
}

.bloquesGallery {
  min-width: 180%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .7) .1em, transparent .1em);
  background-size: 3em 3em;
  display: flex;
}

@media (min-width: 1200px) {
  .bloquesGallery {
    min-width: 160%;
  }
}
@media (min-width: 1400px) {
  .bloquesGallery {
    min-width: 120%;
  }
}

/* empieza css grid */
#handcrafted{
  min-width: 120%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .7) .1em, transparent .1em);
  background-size: 3em 3em;
  display: grid;
  grid-template-columns: 20% 30% 25% 15%;
  grid-template-rows: 20% 300px 30%;
}
/* .caja{
  border: red solid 3px;
} */
.c1{
  grid-area: 1 / 1 / 2 / 5;
}
.c1>h2{
  margin: 15px auto;
}
.c2{
  grid-area: 2 / 1 / 4 / 2;
  padding: 15px;
  font-size: 1.5rem;
}
.c3{
  grid-area: 2 / 2 / 3 / 3;
}
.c3>video{
  width: 100%;
}
.c4{
  grid-area: 2 / 3 / 4 / 5;
}
.c4>video{
  width: 60%;
  z-index: -2;
  margin: 10rem 0 1rem 21rem;
}
.c5{
  grid-area: 2 / 3 / 3 / 4;
  font-size: larger;

}
.c5>p{
  width: 17rem;
  text-align: center;
  height: 12rem;
  margin-left: 8rem !important;
}
.c6{
  grid-area: 3 / 3 / 4 / 4;
  bottom: 1rem;
}
.c6>h3{
  margin: 5rem auto;
}
/* TERMINA SLIDER */

.divs {
  background-color: white;
  margin: 2rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.slider.active {
  cursor: grabbing;
}

.videoContainer>video {
  width: 60%;
  height: 55%;
}

#footerLg {
  width: 100%;
  height: 100%;
}

#footerLg>li>a {
  text-decoration: none;
  color: rgb(65, 63, 63);
  text-transform: uppercase;
  font-weight: bold;
}

#footerLg>li>a:hover {
  color: black;
}

.estanteZapatillas {
  width: fit-content;
  height: 5rem;
  border-bottom: 15px ridge #FFFFFF;
  border-radius: 0px 0px 11px 11px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.estanteZapatillas>div>img:hover {
  transform: translateY(-15px);
  cursor: pointer;
}

.bgTitles {
  background-color: #FFFFFF;
  border: 1px solid black;
  width: fit-content;
  padding: 1rem;
}

.input-group{
  width: 15rem !important;
}
.input-group>input{
margin-right: .6rem !important;
}
.filters{
  background-color: #FFFFFF;
  height: 5rem;
  background-color: #FFFFFF;
  border: 1px solid black;
width: 40rem;
}