* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 7vh;
}

main {
    min-height: 80vh;
}

nav {
    height: 100%;
}

li {
    list-style: none;
}

/* para la imagen de prueba de logo */

nav>img {
    height: 75%;
}

/* -- */
footer {
    height: 13vh;
}

.widthZapaCarrusel {
    width: 100px !important;
}

.list-group-item {
    border: none !important;
    border-radius: 0 !important;
}



/* PRUEBA "CARRUSEL" */
.horizontal-scroll-wrapper {
    width: 100px;
    height: 300px;
    /* max-height: 320px; */
    overflow-y: auto;
    overflow-x: hidden;
}

.horizontal-scroll-wrapper>div {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: center;
}

#scrollContainer{
    /* max-height: 300px !important; */
    transform: rotate(-90deg);
}




/* PRUEBA ESFERA Q GIRA */
.orb {
    margin: 50px auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: blue;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    
    transform: rotate(23.5deg);
    
    box-shadow: inset -50px -50px 100px rgba(0,0,0,0.3);
  }
  
  .equator,
  .orb::before,
  .orb::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    overflow: hidden;
    background: white;
    top: 50%;
    position: absolute;
  }
  
  .orb::before {
    top: 20%;
  }
  .orb::after {
    top: 80%;
  }
  
  .sector1,
  .sector2,
  .sector3,
  .sector4 { 
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid white;
    border-radius: 50%;
   
    clip-path: inset(0% 0% 0% 50%);
    
    animation-name: sector;
    animation-play-state: play;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  
  .sector2 {
    animation-delay: -1s;
  }
  
  .sector3 {
    animation-delay: -2s;
  }
  
  .sector4 {
    animation-delay: -3s;
  }
  
  @keyframes sector {
    0% {
      transform: scaleX(-1);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  
/* -- */